<div class="">
    <div class="row">
        <div class="col-xs-offset-2 col-xs-2 col-sm-offset-2 col-sm-2 col-md-offset-2 col-md-2 t4 lang">
            <%= local.other_language_name %>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 logo_bottom">
            <img src="<%= cdnPath %><%= local.current_language %>/logo-bottom.png" />
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 t4 contact">
            <a href="mailto:support@cleargrass.com"><%= local.contact_us %></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 t4 copyright"><%= local.copyright %></div>
    </div>
</div>