<div class="stylePage">
    <div class="row index01">
        <div class="col-xs-12 col-sm-12 col-md-12 title">
            <img src="<%= cdnPath %>elec-01.png" class="logo" />
            <span class="name"><%= local.page_title %></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 slogen">
            <span class="t3"><%= local.slogan %></span>
            <img src="<%= cdnPath %>i-watch-white.png"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 cart">
            <img src="<%= cdnPath %>line.png" class="row line" />
            <div class="row">
                <a href="http://igg.me/at/amber4applewatch" target="_blank">
                    <span class="text t3"><%= local.pre_order %></span>
                    <img src="<%= cdnPath %>cart.png" class="icon" />
                </a>
            </div>
            <img src="<%= cdnPath %>line.png" class="row line" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 playBtn">
            <img src="<%= cdnPath %>play-icon.png" />
        </div>
    </div>

    <div class="row index02">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 chage_the_way t3">
                <%= local.chage_the_way %>
            </div>
        </div>
        <div class="row">
            <img src="<%= cdnPath %>inhand.png" class="col-xs-12 col-sm-12 col-md-12 inhand">
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 daily_charger1 t4">
                <%= local.daily_charger1 %>
            </div>
        </div>
    </div>

    <div class="row index03">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div id="dailySlider"></div>
        </div>
    </div>

    <div class="row index04">
        <div class="col-xs-12 col-sm-12 col-md-12 t3"><%= local.can_charge_iphone %></div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <img src="<%= cdnPath %>index-bg04.jpg" />
        </div>
    </div>

    <div class="row index05">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <img src="<%= cdnPath %>amber_pink.png" class="icon" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <img src="<%= cdnPath %>index-bg05.png" class="iphone" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 text t4"><%= local.own_app %></div>
        <div class="col-xs-12 col-sm-12 col-md-12 text t4"><%= local.app_notification_track_amber %></div>
    </div>

    <div class="row index06">
        <div id="amberSlider"></div>
    </div>

    <div class="row index07">
        <div class="col-xs-12 col-sm-12 col-md-12 t4 text"><%= local.footer1 %></div>
        <div class="col-xs-12 col-sm-12 col-md-12 t4 text"><%= local.footer2 %></div>
    </div>
</div>